<footer class="footer">
    <section class="container_footer_1">
        <p>Todos los derechos</p>
    </section>
    <section class="container_footer_2">
        <ul>
            <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-square-twitter"></i></a></li>
            <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
        </ul>
    </section>
</footer>