<header>
        <button class="burguer-menu"><i class="fa-solid fa-bars"></i></button>
        <img src="/images/LOGO.png" alt="" class="logo">
        <nav class="nav-bar">
            <div class="first-nav">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="">CATEGORIA</a></li>
                    <li><a href="#about">CONTACTO</a></li>
                </ul>
            </div>
            <div class="second-nav">
                <div class="search-box">
                    <input type="search" name="" id="search">
                    <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    
                </div>
                <button onclick="window.location.href='../user/login'">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </button>
                <button type="button"><i class="fa-sharp fa-solid fa-cart-shopping"></i></button>
            </div>
        </nav>
    </header>