<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/productCreate.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
  <title>CREAR PRODUCTO</title>
</head>

<body>
  <%-include('./partials/header.ejs')%>
    <main class="mainCreate">
      <h3 class="agregarProducts">AGREGAR PRODUCTO</h3>
      <div class="contentForm">
        <form class="boxForm"action="/product/create" method="post" enctype="multipart/form-data">
          <div class="inputsCompletar w100">
            <label for="price"></label>
            <input type="text" placeholder="Nombres *" id="name" name="name">
            <label for="price"></label>
            <input type="number" placeholder="Precio *" id="price" name="price">
            <label for="discount"></label>
            <input type="number" placeholder="Descuento % *" id="discount" name="discount">
          </div>
          <div class="genero">          
            <label for="category" class="marcas"><b>CATEGORIA</b></label>
            <select name="category_id" id="category" class="form-input">
            <option value="">Elegí</option>
            <option value="1">En oferta</option>
            <option value="2" >Últimos agregados</option>
            </select>
          </div>
          <div class="description w100">
            <label for="description"></label>
            <input type="text" placeholder="Descripcion *" id="description" name="description">
          </div>
          <div class="date w100">
            <label for="image" class="imagen"><b>AGREGAR IMAGEN</b></label>
						<input type="file" id="image" name="img" placeholder="Ej: 15">
          </div>
          <div class="buttonAgregar w100">
            <button type="submit">AGREGAR</button>
          </div>
      </form>
    </div>
    </main>
    <%-include("./partials/footer.ejs") %>
</body>




</html>