<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/indexV2.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <title>PROYECTO X</title>
</head>

<body>
    <header class="header">
        <button class="burguer-menu"><i class="fa-solid fa-bars"></i></button>

        <nav class="nav-bar">
            <img src="/images/LOGO.png" alt="" class="logo">
            <ul class="first-nav">
                <li><a href="">HOME</a></li>
                <li><a href="">CATEGORIA</a></li>
                <li><a href="">CONTACTO</a></li>
            </ul>
        </nav>
        <nav class="nav-bar">
            <div class="search-box">
                <input type="search" name="" id="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="second-nav">
                <button type="button"><i class="fa fa-user-circle" aria-hidden="true"></i></button>
                <button type="button"><i class="fa-sharp fa-solid fa-cart-shopping"></i></button>
            </div>
        </nav>
    </header>
    <main>
        <section class="showcase">
            <div class="video-container">
                <video src="/video/videoplayback.webm" autoplay muted loop></video>
            </div>
            <div class="content">
                <h1>Proyecto X!</h1>
                <h3>Indumentaria deportiva</h3>
                <a href="#abaut" class="btn">Leer más</a>
            </div>
        </section>

        <section id="abaut">

        </section>
    </main>
    <footer class="footer">
        <section class="container_footer_1">
            <p>Esto es un footer</p>
            <p>Todos los derechos reservados al grupo 10</p>
        </section>
        <section class="container_footer_2">
            <ul>
                <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-square-twitter"></i></a></li>
                <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
            </ul>
        </section>
    </footer>
</body>

</html>