<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>login</title>
</head>

<body>
    <header class="header">
        <button class="burguer-menu"><i class="fa-solid fa-bars"></i></button>

        <nav class="nav-bar">
            <img src="/images/LOGO.png" alt="" class="logo">
            <ul class="first-nav">
                <li><a href="">HOME</a></li>
                <li><a href="">CATEGORIA</a></li>
                <li><a href="">CONTACTO</a></li>
            </ul>
        </nav>
        <nav class="nav-bar">
            <div class="search-box">
                <input type="search" name="" id="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="second-nav">
                <button type="button"><i class="fa fa-user-circle" aria-hidden="true"></i></button>
                <button type="button"><i class="fa-sharp fa-solid fa-cart-shopping"></i></button>
            </div>
        </nav>
    </header>
    <form action="/" method="get">
        <div class="box">
            <h2 class="ingreso"> Ingresar con mail y contraseña </h2>
            <br>
            <div class="inicioSesion">
                <input class="email" name="email" placeholder="Ej: ejemplo@mail.com" required>
                <br>
                <input class="password" name="password" placeholder="Ingrese su contraseña" required>
            </div>
            <br>
            <div class="olvideLaContraseña">
                <a href="/olvidelacontraseña">Olvidé la contraseña</a>
            </div>
            <div class="entrar">
                <button type="submit">Entrar</button>
            </div>
            <br>
            <div class="registrarse">
                <a href="/register"> ¿No tiene una cuenta? Regístrese</a>
            </div>
            <br>
            <h2 class="opcionParaEntrar">Escoja una opción para entrar</h2>
            <div class="codigoMail">
                <button type="submit">Recibir código por mail</button>
            </div>
        </div>
    </form>
</body>

</html>