<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/password2.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <title>Recuperar Contraseña</title>
</head>

<body>
    <header class="header">
        <button class="burguer-menu"><i class="fa-solid fa-bars"></i></button>

        <nav class="nav-bar">
            <img src="/images/LOGO.png" alt="" class="logo">
            <ul class="first-nav">
                <li><a href="">HOME</a></li>
                <li><a href="">CATEGORIA</a></li>
                <li><a href="#about">CONTACTO</a></li>
            </ul>
        </nav>
        <nav class="nav-bar">
            <div class="search-box">
                <input type="search" name="" id="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="second-nav">
                <a href="/login"><button type="button"><i class="fa fa-user-circle"
                    aria-hidden="true"></i></button></a>
                <button type="button"><i class="fa-sharp fa-solid fa-cart-shopping"></i></button>
            </div>
        </nav>
    </header>
    <main class="main">
       
        <div class="container">
            <h1>Recuperar Contraseña</h1>
            <h2>Ingrese su correo con el que se ha registrado</h2>
            <form action="" class="form">
                <div class="correo">
                    <input type="email" placeholder="Ingrese su correo *" name="correo" required>
                </div>
                <div class="form-button">
                    <a class="salir" href="/">Salir</a>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </main>  
    <footer class="footer">
        <section class="container_footer_1">
            <p>Todos los derechos</p>
        </section>
        <section class="container_footer_2">
            <ul>
                <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-square-twitter"></i></a></li>
                <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
            </ul>
        </section>
    </footer>  
</body>
</html>