@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Victor+Mono&display=swap');
* {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/*NAV BAR*/

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.burguer-menu {
    border: none;
    background-color: none;
}

header i {
    font-size: 30px;
}

header a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 100px;
}

.first-nav,
.search-box {
    display: none;
}

.second-nav {
    justify-content: center;
}

.second-nav button {
    border: none;
    margin: 5px;
}

/*MAIN*/

main {
    height: 90vh;
    text-align: center;
}

main h1{
    margin: 10px;
}

/*CART PRODUCTS*/

.box-cart {
    min-width: fit-content;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}

.box-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    min-width: 300px;
    flex-direction: column;
}

.box-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
}


.box-item-details h3 {
    margin: 0;
    font-size: 18px;
}

.box-item-details p {
    margin: 5px 0;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity-btn {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.quantity-value {
    font-size: 16px;
    font-weight: bold;
}

.product{
    border-top: 10px solid #000000;
}

.mat{
    border-top: 10px solid #1a69fd;
}

.box-pay{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.box-pay input{
    width: 5%;
}

.box-pay label{
    width: 95%;
    text-align: start;
    padding-left: 10px;
}

/*footer*/

.footer {
    width: 100%;
    height: 60px;
    background-color: #373742;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container_footer_1 {
    width: 47%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: start;
}

.container_footer_1 p {
    color: #fff;
    font-size: 1.2rem;
    width: 100%;
}

.container_footer_2 {
    width: 47%;
}

.container_footer_2 ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container_footer_2 ul li {
    list-style: none;
}

.container_footer_2 ul li i {
    color: #fff;
    font-size: 25px;
    list-style: none;
}

@media (min-width: 480px) {

    /*--nav bar--*/
    .nav-bar {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .burguer-menu {
        display: none;
    }

    .first-nav {
        width: 45%;
        display: flex;
    }

    .first-nav ul {
        list-style: none;
        display: flex;
        align-items: center;
    }

    .first-nav ul li {
        margin: 0 5px;
    }

    .second-nav {
        width: 45%;
        display: flex;
        justify-content: end;
        margin-right: 15px;
    }

    .search-box {
        display: block;
    }

    .search-box input {
        display: none;
    }

    /*--nav bar--*/

    .box-cart {
        display: contents;
    }

    .box-item {
        margin: 10px auto ;
        max-width: 1200px;
        justify-content: space-between;
        flex-direction: row;
    }

    .box-item-details {
        display: flex
    }

    .media-Product{
        border-left: 10px solid #000000;
    }
    
    .media-Mat{
        border-left: 10px solid #1a69fd;
    }
    


}

@media (min-width: 790px) {

    /*--nav bar--*/

    .search-box {
        display: flex;
    }

    .search-box input {
        display: block;
    }


}