*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(233, 235, 238);
    font-family: Helvetica, sans-serif;
}
.main{
    height: 90vh;
    display:grid;
    place-items: center;
}

/*--Header START--*/

.header {
    font-family: 'Victor Mono', monospace;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

.burguer-menu {
    border: none;
    background-color: whitesmoke;
    margin: 0 16px;
}

.header .burguer-menu i {
    width: 40px;
    font-size: 26px
}

.nav-bar {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

.logo {
    height: 100%;
}

.first-nav {
    display: none;
}

.nav-bar ul li a {
    text-decoration: none;
    color: black;
}

.search-box {
    display: none;
}

.second-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.second-nav button {
    border: none;
    font-size: 26px;
}

.second-nav button i {
    font-size: 30px;
}

/*--Header END--*/


h1{
    text-align: center;
    padding: 20px;
    color: regb(15, 41, 53);
}
.container{
    width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
}
h2{
    text-align: center;
    padding: 20px 10px;

}
.correo{
    width: 85%;
    border: none;
    background: none;
    padding: 15px;
    margin-bottom: 15px;
    border: solid rgb(168. 156, 156) 1px;
    margin:auto;
}

.form-button{
    width: 85%;
    margin: auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
.salir{
        text-decoration: none;
        background: black;
        padding: 10px 20px;
        color:white;
        font-size: 12px;
        text-align: center;
    }
.form-button button{
        background: gray;
        padding: 10px 20px;
        color: white;
        font-size: 12px;
    }
    .correo input{
        width: 100%;

    }
/*--Footer STAR--*/

.footer {
    width: 100%;
    height: 60px;
    background-color: #373742;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container_footer_1 {
    width: 47%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: start;
}

.container_footer_1 p {
    color: #fff;
    font-size: 1.2rem;
    width: 100%;
}

.container_footer_2 {
    width: 47%;
}

.container_footer_2 ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container_footer_2 ul li {
    list-style: none;
}

.container_footer_2 ul li i {
    color: #fff;
    font-size: 25px;
    list-style: none;
}



/*-Footer END--*/






    
.salir:hover{
        background: rgb(195, 168, 168)
    }

button:hover{
    background: rgb(98, 96, 96);
}



@media (min-width: 361px){
    *{
        font-size: 20px;   
}

.container{
    width: 350px;
    margin: auto;
    background: white;
    padding: 10px;
}
h2{
    text-align: center;
    padding: 10px 5px;
    font-size: 14px;
}
.correo input{
    font-size: 14px;  
}
}




@media (min-width: 769px){
    .container{
        width: 500px;
        margin: auto;
        background: white;
        padding: 20px;
}

}
