@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&family=Victor+Mono&display=swap');


:root {
    --primary-color: #373742;
    --second-color: #ebebeb;
}

* {
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    background-color: var(--second-color);
}

/*--Header START--*/

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.burguer-menu {
    border: none;
    background-color: none;
}

header i {
    font-size: 30px;
}

.logo {
    width: 100px;
}

.first-nav,
.search-box {
    display: none;
}

.second-nav {
    justify-content: center;
}

.second-nav button {
    border: none;
    margin: 5px;
}



/*--Header END--*/

/*--Main START--*/

a {
    text-decoration: none;
    color: var(--primary-color);
}

h1 {
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 15px;
}

/*==video START==*/

.showcase {
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: #fff;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color)
        /* url(./) */
        center center/cover;
}

.video-container video {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.content {
    z-index: 0;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: var(--primary-color);
    color: #fff;
    border: solid 1px #fff;
    border-radius: 5px;
    margin-top: 25px;
    opacity: 0.7;
}

.btn:hover {
    transform: scale(0.98);
}

/*==video END==*/

/*--box-section START--*/
.marcas {
    margin: 10px 0;
    width: 100%;
    height: 40px;
    background-color: black;
}

.main {
    width: 70%;
    margin: auto;
    margin-top: 10px;
}

.titulares {
    font-size: 24px;
    width: 99%;
    margin-bottom: 10px;
}

.section-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article-box {
    width: fit-content;
    margin: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(192, 192, 192);
}

.article-box img {
    width: 200px;
    height: 200px;
}

.description-product {
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.article-box:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.price-container {
    display: flex;
    align-items: center;
}

.precio {
    font-size: 1.5rem;
    margin: 5px;
}

.descuento {
    font-size: 1.3rem;
    color: rgb(255, 28, 28);
}

.titulo {
    font-size: 1.5rem;
}

/*--box-section END--*/

/*--abaut START--*/

#about {
    padding: 40px;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
}

#about h2 {
    margin: 30px 0;
    color: var(--primary-color);
}

.social a {
    margin: 0 5px;
}

/*--abaut END--*/

/*--categorias START--*/
.box-categorias {
    width: 80%;
    margin: 0 auto;
}

.categorias {
    column-count: 4;
    list-style-type: none;
}



/*--categorias END--*/

/*--Main END--*/

/*--Footer STAR--*/

.footer {
    width: 100%;
    height: 60px;
    background-color: #373742;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container_footer_1 {
    width: 47%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: start;
}

.container_footer_1 p {
    color: #fff;
    font-size: 1.2rem;
    width: 100%;
}

.container_footer_2 {
    width: 47%;
}

.container_footer_2 ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container_footer_2 ul li {
    list-style: none;
}

.container_footer_2 ul li i {
    color: #fff;
    font-size: 25px;
    list-style: none;
}



/*-Footer END--*/


/*==media queries==*/

@media (min-width: 480px) {

    /*--nav bar--*/
    .nav-bar {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    .burguer-menu {
        display: none;
    }

    .first-nav {
        width: 45%;
        display: flex;
    }

    .first-nav ul {
        list-style: none;
        display: flex;
        align-items: center;
    }

    .first-nav ul li {
        display: flex;
        height: 67px;
        margin: 0 5px;
        align-items: center;
    }

    .second-nav {
        width: 45%;
        display: flex;
        justify-content: end;
        margin-right: 15px;
        align-items: center;
    }

    .search-box {
        display: block;
    }

    .search-box input {
        display: none;
    }

    .first-nav ul li:hover {
        border-bottom: solid 3px black;
    }

    /*--nav bar--*/


}

@media (min-width: 790px) {

    /*--nav bar--*/

    .search-box {
        width: 200px;
        height: 35px;
        padding: 5px;
        border: 1px solid black;
        background-color: white;
        border-radius: 50px;
        display: flex;
        justify-content: end;
        align-items: center;

    }

    .search-box i {
        background-color: white;
        font-size: x-large;

    }

    .search-box input {
        border-style: none;
        display: block;
        height: 100%;
    }

    /*--nav bar--*/


}