@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Victor+Mono&display=swap');

* {
   font-family: "Roboto", Helvetica, Arial, sans-serif;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   line-height: 1.5;
}

.w100 {
   width: 90%;
   max-width: 500px;
}

main {
   height: 100vh;
}

/*--Header START--*/

header {
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #ebebeb;
   font-size: 12px;
}


.burguer-menu {
   border: none;
   background-color: none;
}

header i {
   font-size: 30px;
}

.logo {
   width: 100px;
}

.first-nav,
.search-box {
   display: none;
}

.second-nav {
   justify-content: center;
}

.second-nav button {
   border: none;
   /* margin: 5px; */
}



/*--Header END--*/

/* body*/
.box-form {
   display: flex;
   justify-content: space-around;
   margin: auto;
   flex-wrap: wrap;
}

form {
   margin-left: 10px;
   width: 100vw;
   max-width: 700px;
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   height: 90%;
}

.is-valid {
   color: #06c069;
 }
 
 .is-invalid {
   color: #ff0017;
 }
 
 p {
   font-family: "Roboto", Helvetica, Arial, sans-serif;
   font-size: 11.5px;
 }

.box-rigth {
   width: 100vw;
   max-width: 700px;
   display: none;
   margin-top: 100px;
}

.box-rigth li {
   list-style: none;
}

.registrateCon {
   margin-top: 10px;
   font-size: 11px;
   text-decoration: none;
   color: black
}

.ingreso {
   font-size: 20px;
   font-weight: bold;
   color: black;
   padding-bottom: 10px;
   margin: 30px 0px 5px;
   display: flex;
   justify-content: flex-start;
}

.inicioSesion input {
   height: 33px;
   width: 250px;
   margin: 10px 0px 10px;
}

.entrar button {
   color: white;
   background-color: black;
   margin-top: 15px;
   width: 250px;
   height: 33px;
   border-radius: 4px;
   border: 0;
}

.terminos {
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
   align-items: center;
}

.terminos input {
   width: 12px;
   height: 15px;
   accent-color: black;
   margin-right: 10px;
}

.terminos label {
   font-size: 12.5px;
}

.boton-registrate button {
   height: 35px;
   width: 250px;
   background-color: black;
   color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 13.2px;
   padding: 0 7px;
}

.boton-registrate button:hover {
   color: gray;
}

.errores {
   color: crimson;
}

.registrarse {
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
}

.botones-acceso {
   display: flex;
   margin-top: 15px;
   margin-bottom: 15px;
   width: 100%;
   justify-content: space-between;
}

.botones-acceso button {
   background-color: white;
   color: black;
   width: 45%;
   height: 30px;
   border: 2px solid black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 10px;
   max-width: 200px;
   padding: 5px;
}

.botones-acceso i {
   margin-left: 30px;
   font-size: 18px;
   color: black;
}

.buttonGoogle {
   margin-left: 15px;
}

.botones-acceso button:hover {
   color: #857d7d;
}

/*footer*/
.footer {
   width: 100%;
   height: 60px;
   background-color: #373742;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.container_footer_1 {
   width: 47%;
   height: 100%;
   display: flex;
   align-items: center;
   text-align: start;
}

.container_footer_1 p {
   color: #fff;
   font-size: 1.2rem;
   width: 100%;
}

.container_footer_2 {
   width: 47%;
}

.container_footer_2 ul {
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.container_footer_2 ul li {
   list-style: none;
}

.container_footer_2 ul li i {
   color: #fff;
   font-size: 25px;
   list-style: none;
}



@media (min-width:480px) {

   /*--nav bar--*/
   .nav-bar {
      width: 90%;
      height: 100%;
      display: flex;
      justify-content: space-between;
   }

   .burguer-menu {
      display: none;
   }

   .first-nav {
      width: 45%;
      display: flex;
   }

   .first-nav ul {
      list-style: none;
      display: flex;
      align-items: center;

   }

   .first-nav ul li {
        display: flex;
        height: 67px;
        margin: 0 5px;
        align-items: center;
    }

   .first-nav ul li a {
      text-decoration: none;
      color: #373742;
   }


   .second-nav {
      width: 45%;
      display: flex;
      justify-content: end;
      margin-right: 15px;
      align-items: center;
   }   

   .search-box {
      display: block;
      margin-right: 5px;
   }

   .search-box input {
      display: none;
   }

   .first-nav ul li:hover {
      border-bottom: solid 3px black;
   }

   /*--nav bar--*/

   .article-box {
      width: 47%;
      max-width: 360px;
   }

   .olvideLaContraseña a {
      display: flex;
      justify-content: flex-end;
      top: 45%;
   }

   .registrarse a {
      display: flex;
      justify-content: center;
   }
}

@media (min-width: 790px) {

   /*--nav bar--*/

   .search-box {
      width: 200px;
      height: 35px;
      padding: 5px;
      border: 1px solid black;
      background-color: white;
      border-radius: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
      align-items: center;
   }

   .search-box i {
      background-color: white;
      font-size: x-large;
   }

   .search-box input {
      border-style: none;
      display: block;
      height: 100%;
      margin-bottom: 10px;
   }

   .lupita {
      background-color: white;
      margin-right: 5px;
      margin-bottom: 10px;
   }

   .article-box {
      width: 29%;
   }

   .box-rigth {
      display: block;

   }
}