@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&family=Victor+Mono&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    line-height: 1.5;
    background-color: #ebebeb;
}
main{
    max-height: fit-content;
    min-height: 100%;
    background-color: white;
}

h1{
    font-size: 35px;
    text-align: center;
    padding: 10px;
}

.circle-box{
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    background-image: url(/images/users/user.image);
    border: solid 1px black;
}

.btn-box{
    width: 350px;
    height: 340px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.btn {
    height: 35px;
    width: 200px;
    background-color: black;
    color: white;
    margin-top: 15px;
    box-shadow: 0px 0px 10px rgb(192, 192, 192);
}
.btn:hover {
    
    /* background-color: #ebebeb; */
    color: gray
    

}

/*-- ORDER --*/
thead th {
    background-color:#ebebeb;
    text-transform: uppercase;
}

table td {
    font-size: 15px;
    padding: 8px;
    text-align: center;
}


/*-- ORDER END --*/







/* ********* main *********/
/* ********* main *********/

/*--Footer STAR--*/

.footer {
    width: 100%;
    height: 8vh;
    background-color: #373742;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container_footer_1 {
    width: 47%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: start;
}

.container_footer_1 p {
    color: #fff;
    font-size: 1.2rem;
    width: 100%;
}

.container_footer_2 {
    width: 47%;
}

.container_footer_2 ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container_footer_2 ul li {
    list-style: none;
}

.container_footer_2 ul li i {
    color: #fff;
    font-size: 25px;
    list-style: none;
}


a {
    text-decoration: none;
    color: black;
}
/*-Footer END--*/


/*==media queries==*/

@media (max-width: 500px) {

   table td {
    font-size: 13px;
    padding: 1px;
    text-align: center;
   }

}

@media (min-width: 790px) {

    


}