<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/administrador.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <title>Administrador</title>
</head>

<body>
    <%-include('./partials/header.ejs')%>

        <main class='main'>
            <h1>ADMINIS/LISTAR</h1>
            <div class="btn-crear">
                <BUTton><i class="fa-solid fa-plus"></i>CREAR</BUTton>
            </div>
            <div class="btn-listar"><BUTton><i class="fa-solid fa-list"></i>LISTAR</BUTton></div>

            <section>
                <table>
                    <tr class="principal">
                        <th><i class="fa-solid fa-file-pen"></i></th>
                        <th class="ocultar">Imagen</th>
                        <th class="ocultar">Marca</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th class="ocultar">Dto</th>
                        <th><i class="fa-solid fa-trash"></i></th>
                    </tr>
                    <tr class="stock">
                        <td><i class="fa-solid fa-file-pen"></i></td>
                        <td class="ocultar"><img src="/images/Zapatilla Celeste.jpg" alt="" width="50vw"></td>
                        <td class="ocultar">Adidas</td>
                        <td>Zapatillas</td>
                        <td>$45.000</td>
                        <td class="ocultar">----</td>
                        <td><i class="fa-solid fa-trash"></i></td>
                    </tr>
                    <tr class="stock">
                        <td><i class="fa-solid fa-file-pen"></i></td>
                        <td><img src="/images/Remera Deportiva.jpg" alt="" width="50vw"></td>
                        <td>Nike</td>
                        <td>Remeras</td>
                        <td>$55.000</td>
                        <td>----</td>
                        <td><i class="fa-solid fa-trash"></i></td>
                    </tr>
                    <tr class="stock">
                        <td><i class="fa-solid fa-file-pen"></i></td>
                        <td><img src="/images/Pesas.jpg" alt="" width="50vw"></td>
                        <td>Adidas</td>
                        <td>Pesas</td>
                        <td>$15.000</td>
                        <td>----</td>
                        <td><i class="fa-solid fa-trash"></i></td>
                    </tr>
                    <tr class="stock">
                        <td><i class="fa-solid fa-file-pen"></i></td>
                        <td><img src="/images/Calza.jpg" alt="" width="50vw"></td>
                        <td>Nike</td>
                        <td>Calza</td>
                        <td>$25.000</td>
                        <td>10%</td>
                        <td><i class="fa-solid fa-trash"></i></td>
                    </tr>
                    <tr class="stock">
                        <td><i class="fa-solid fa-file-pen"></i></td>
                        <td><img src="/images/soga-de-salto-gym.webp" alt="" width="50vw"></td>
                        <td>Fila</td>
                        <td>Soga</td>
                        <td>$12.000</td>
                        <td>5%</td>
                        <td><i class="fa-solid fa-trash"></i></td>
                    </tr>
                    <tr class="stock">
                        <td><i class="fa-solid fa-file-pen"></i></td>
                        <td><img src="/images/Zapatilla Naranja.jpg" alt="" width='50vw'></td>
                        <td>Nike</td>
                        <td>Zapatillas</td>
                        <td>$35.000</td>
                        <td>15%</td>
                        <td><i class="fa-solid fa-trash"></i></td>
                    </tr>

                </table>

            </section>

        </main>
        <%- include("./partials/footer.ejs") %> 
      
</body>

</html>