<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/password2.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <title>Recuperar Contraseña</title>
</head>

<body>
    <%-include('./partials/header.ejs')%>
        
    <main class="main">
       
        <div class="container">
            <h1>Recuperar Contraseña</h1>
            <h2>Ingrese su correo con el que se ha registrado</h2>
            <form action="" class="form">
                <div class="correo">
                    <input type="email" placeholder="Ingrese su correo *" name="correo" required>
                </div>
                <div class="form-button">
                    <a class="salir" href="/">Salir</a>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </main>  
    <footer class="footer">
        <section class="container_footer_1">
            <p>Todos los derechos</p>
        </section>
        <section class="container_footer_2">
            <ul>
                <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-square-twitter"></i></a></li>
                <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
            </ul>
        </section>
    </footer>  
</body>
</html>