<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/userAdmin.css">
    <title>Document</title>
</head>

<body>
    <%- include("./partials/header.ejs") %>
        <main>
            <h1>Perfil</h1>
            <div class="circle-box">
                <img src="" alt="">
            </div>
            <div class="btn-box">
                <a href=""><input class="btn" type="button" value="Vender"></a>
                <a href=""><input class="btn" type="button" value="Editar"></a>
                <a href=""><input class="btn" type="button" value="Productos"></a>
                <a href=""><input class="btn" type="button" value="Salir"></a>
            </div>
        </main>

        <%- include("./partials/footer.ejs") %>
</body>

</html>