<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/password2.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <title>PROYECT X | RECUPERAR CONTRASEÑA </title>
</head>

<body>
    <%-include('./partials/header.ejs')%>
    <main>
        <form action="/">       
            <div class="olvideContraseña">
                <h3><b>¿HAS OLVIDADO TU CONTRASEÑA?</b></h3>
                <p>Ingresá tu dirección de correo electrónico y recibirás un enlace para restablecer la contraseña.</p>
                <input class="email" name="email" placeholder="Correo Electronico *" required>
                <button type="submit">RESTABLECER CONTRASEÑA<i class="fa-solid fa-arrow-right-long"></i></button>
            </div>
        </form>  
    </main>       
    <%- include("./partials/footer.ejs") %>  
</body>
</html>