<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/productCreate.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
  <title>EDITAR</title>
</head>

<body>
  <%-include('./partials/header.ejs')%>
    <main class="mainCreate">
      <h3 class="agregarProducts">EDITAR PRODUCTO</h3>
      <div class="contentForm">
        <form class="boxForm">
          <div class="boxMarcas">
            <label class="marcas"><b>MARCAS</b></label>
            <select name="Marcas" id="Marcas">
              <option value="Adidas">Adidas</option>
              <option value="Reebok">Reebook</option>
              <option value="Puma">Puma</option>
              <option value="Fila">Fila</option>
              <option value="Nike">Nike</option>
              <option value="Running">Running</option>
            </select>
          </div>
          <div class="inputsCompletar w100">
            <input type="text" placeholder="Nombres *">
            <input type="text" placeholder="Precio *">
            <input type="number" placeholder="Descuento % *">
          </div>
          <div class="genero">
            <label><b>GENERO</b></label>
            <select name="Genero" id="Genero">
              <option value="Mujer">Mujer</option>
              <option value="Hombre">Hombre</option>
            </select>
          </div>
          <div class="description w100">
            <input type="text" placeholder="Descripcion *" >
          </div>
          <div class="date w100">
            <input type="date" name="" id="">
          </div>
          <div class="buttonAgregar w100">
            <button type="submit">AGREGAR</button>
          </div>
      </form>
    </div>
    </main>
    <%-include("./partials/footer.ejs") %>
</body>




</html>